<aside>

<div class="block">
<h3>Search</h3>
<form action="//google.com/search" target="_blank" class="search-form">
<input type="hidden" name="sitesearch" value="blog.rstudio.com" />
<input type="search" name="q" class="search" placeholder="Type and press Enter" />
</form>
</div>

<div class="block">
<p>You may subscribe by Email or the <a href="{{ relURL "/index.xml" }}">RSS feed</a>.</p>
<script src="//app-ab02.marketo.com/js/forms2/js/forms2.min.js"></script>
<form id="mktoForm_2169"></form>
<script>MktoForms2.loadForm("//app-ab02.marketo.com", "709-NXN-706", 2169);</script>
</div>

{{ with .Site.Data.news }}
<div class="block">
<h3>News &amp; Events</h3>
{{ range .items }}
<p>{{ (index . 1) | markdownify }} <a href="{{ index . 0 }}">&#8618;</a></p>
{{ end }}
</div>
{{ end }}

<div class="block hide-small">
<h3>Categories</h3>
<ul class="terms-list">
  {{ range $key, $value := .Site.Taxonomies.categories }}
  <li>
    <a href="{{ (print "/categories/" $key | urlize) | relURL }}">
      {{ $key }}
    </a>
    ({{ len $value }})
  </li>
  {{ end }}
</ul>
</div>

{{ with .Site.Menus.rstudio }}
<div class="block hide-small">
  <h3>About RStudio</h3>
  <ul class="terms-list">
  {{ range . }}
  <li>
    <a href="{{ .URL }}">{{ .Name }}</a>
  </li>
  {{ end }}
  </ul>
</div>
{{ end }}
</aside>
