{{ partial "header.html" . }}

<div class="container">
<main>
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ with .Params.author }}<h3 class="author">{{ . }}</h3>{{ end }}
{{ if .Params.date }}<h3 class="date">{{ .Date.Format "2006-01-02" }}</h3>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

{{ .Content }}

{{ if .Section }}
<nav class="post-nav">
  <span class="nav-prev">{{ with .NextInSection }}<a href="{{ .RelPermalink }}" title="Previous post (newer)">&larr; {{ .Title }}</a>{{ end }}</span> &hercon;
  <span class="nav-next">{{ with .PrevInSection }}<a href="{{ .RelPermalink }}" title="Next post (older)">{{ .Title }} &rarr;</a>{{ end }}</span>
</nav>
{{ end }}

{{ partial "disqus.html" . }}
</main>

{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
