<footer class="site-footer" role="contentinfo">
  <nav class="site-footer-nav" aria-label="Footer navigation">
    <p class="site-copyright">
      {{ if ne .Site.Copyright "" }}{{ .Site.Copyright | htmlUnescape }}{{ else }}&copy; {{ now.Format "2006"}} Carney, all rights reserved.
      {{ end }}
    </p>
    {{ if .Site.Params.socialInFooter }}
    <div class="site-social-links">
      {{ partial "shared/social-links.html" . }}
    </div>
    {{ end }}
    <div class="site-footer-links">
      {{ range $.Site.Data.navigation.footer }}
      <a href="{{ .url }}" title="{{ .title }}">{{ .name }}</a>
      {{ end }}
    </div>
  </nav>
</footer>
